.idea
.settings
.project
.classpath
.classpath-e
.metadata
android/bin
android/gen
out
bin
target
log4j.properties
log4j.xml
local.properties
*-local.properties
*.iml
atlassian-ide-plugin.xml
*/*/src/sql/*/environments/*.properties
coverage*.log
.DS_Store
eclipse-target
.gwt
gwt-unitCache
bus.bloat
.*.swp
.*.swo
.gradle

